.languageSelector {

    /* Nếu bạn đã thêm styles cho Header.module.scss, bạn có thể điều chỉnh thêm ở đây */
    select {
        padding: 8px;
        font-size: 16px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        border: 1px solid rgba(0, 216, 255, 0.2);
        transition: border-color 0.3s, background-color 0.3s;

        &:focus {
            outline: none;
            border-color: #00d8ff;
            background-color: rgba(255, 255, 255, 0.2);
        }

        option {
            background-color: #001219;
            color: white;
        }
    }
}